<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Linguine | About</title>
</head>

<body>
  <h1>About</h1>
  <p>Linguine is a computational linguistics application for the purpose of exploring intricate details in text
    that could be missed through usual methods of close reading.
  </p>
  <p>It is a work in progress, and is currently in the alpha stage of development.</p>
</body>

</html>